@import '~/node_modules/bootstrap/scss/bootstrap.scss';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF;
    color: $median_cape_cod;
    font-family: 'Vidaloka',
        sans-serif;
    a{
        color: $median_cape_cod;
        text-decoration: none;
    }

    li{
        list-style: none;
    }

    .btn_food{
        color: white;
        border-radius: 0.3rem;
        background-color: $cube_orange;
        border: none;
        padding: 0.3rem 0.7rem;
        &:hover{
            filter: brightness(0.8);
        }
    }

    .container{
        max-width: 1140px;
    }

    .card{background-color: white;
    }

    .mb_4{
        margin-bottom: 4rem;
    }

    .mt_5{
        margin-top: 5rem;
    }

    .my_2{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}