/* Color palette */

/* Color cube */

$cube_spring_wood: rgba(246, 247, 241, 1);
$cube_shark: rgba(38, 38, 40, 1);
$cube_silver_chalice: rgba(175, 175, 175, 1);
$cube_nevada: rgba(106, 107, 108, 1);
$cube_orange: rgba(252, 117, 37, 1);
$cube_bondi_blue: rgba(4, 146, 173, 1);
$cube_korma: rgba(133, 67, 15, 1);
$cube_goldenrod: rgba(253, 202, 107, 1);
$cube_turquoise: rgba(40, 227, 226, 1);
$cube_forest_green: rgba(28, 161, 66, 1);

/* Median cut */

$median_cape_cod: rgba(57, 64, 62, 1);
$median_cararra: rgba(240, 238, 235, 1);
$median_brown_rust: rgba(166, 94, 55, 1);
$median_muddy_waters: rgba(184, 145, 91, 1);
$median_pewter: rgba(151, 156, 156, 1);

/* Material design */

$design_tan: rgba(208, 164, 139, 1);
$design_oslo_grey: rgba(150, 153, 154, 1);
$design_boston_blue: rgba(59, 140, 168, 1);
$design_fiord: rgba(76, 91, 108, 1);
$design_brandy: rgba(223, 190, 155, 1);
